/* main-color #757575 */
/* secondary-color #212121 */
/* accent-color #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background: #2f303a;
  --team-section-background: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 94px;
  padding-bottom: 94px; */
  outline: 2px solid red;
}
/* ===== Header ====== */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-wrap {
  display: flex;
}
.nav {
  display: flex;
}
.site-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--title-text-color);
  margin-right: 93px;
}
.logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  color: var(--accent-color);
}
.top-item + .top-item {
  margin-left: 50px;
}

.top_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}
.top_link:hover,
.top_link:focus,
.top_contact:hover,
.top_contact:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.top-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.top_contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.contact-item + .contact-item {
  margin-left: 50px;
}
/* ==== end-header ====== */
/* ====section hero ====*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-background);
}
.hero_title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* ====end section hero ====*/
/* ===sections studio ===*/
/* features */
.features,
.projects /*in portfolio*/ {
  display: none;
}
.features-list {
  display: flex;
}
.features-item {
  max-width: 270px;
}
.features-item:nth-child(n + 2) {
  margin-left: 30px;
}
.features_title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.section-features,
.section-projects, /* in portfolio*/ 
.section-work,
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: turquoise;
}
.no-padding {
  padding-top: 0;
}
/* work */
.work-list {
  display: flex;
}
.work-item + .work-item {
  margin-left: 30px;
}
.work,
.team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--title-text-color);
}
/* Team */
.section-team {
  background-color: tomato;
}
.team-list {
  display: flex;
}
.team-content {
  padding-top: 30px;
}
.team_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team_prof {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}
/* ===END sections studio ===*/
/* =======footer======= */
.footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-white-color);
}
.address-map {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-white-color);
}
.address-contact {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address-map:hover,
.address-map:focus {
  color: rgba(255, 255, 255, 0.6);
}
.address-contact:hover,
.address-contact:focus {
  color: var(--primary-white-color);
}
/* ========end footer===== */
/* =======portfolio section======= */
.project_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project_about {
  font-size: 16px;
  line-height: 1.8;
}
/* =======end portfolio section======= */
/* ======button ========*/
.button_primary {
  border: 0;
  padding: 10px 32px;
  min-width: 136px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
}
.button_secondary,
.button_current {
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}
.button_secondary {
  background-color: var(--team-section-background);
  color: var(--title-text-color);
}
.button_current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button_current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
